!!! 5
%html
  %head
    %title Cuisine !

    <!-- Le javascript -->

    %script{:src => '/js/jquery-1.9.1.js'  }
    %script{:src => '/js/jquery-migrate-1.2.1.js'  }

    %script{:src => '/js/bootstrap.js'}

    %script{:src => '/js/jquery.flot-0.8.2.js'}

    <!-- Le styles -->

    %link{:href => '/css/bootstrap.css', :rel => 'stylesheet'}
    %link{:href => '/css/bootstrap-theme.css', :rel => 'stylesheet'}

  %body

    %div{:class => 'navbar navbar-inverse'}
      %div{:class => 'fill'}
        %div{:class => 'col-md-8 col-md-offset-2'}
          %ul{:class => 'nav navbar-nav'}
            %li
              %a{:class => 'navbar-brand', :href => '/'} Cuisine
            %li
              %a{:href => '/'} Hot stuff
            %li
              %a{:href => '/search'} Search
            %li{:class => 'dropdown', :id => 'menu_environment', 'data-dropdown'.to_sym => 'dropdown-toggle'}
              %a{:href => '#1', 'data-toggle'.to_sym => 'dropdown' , :class => 'dropdown-toggle' } Environment
              %ul{:class => 'dropdown-menu'}
                %li
                  %a{:href => '/'} All
                - @environments.each do |environment, _|
                  %li
                    %a{:href => "/environment/#{environment}"}
                      #{environment}
            %li
              %a{:href => '/about'} About

    %div{:class => 'container'}
      %div{:class => 'content-main col-md-12'}
        = yield

    %footer
      %p{:align => 'center'}
        &copy; Nicolas Szalay /
        %a{:href => 'http://www.rottenbytes.info' }
          www.rottenbytes.info
      %p{:align => 'center'}
        extended by Tensibai /
        %a{:href => 'https://github.com/Tensibai/Cuisine' }
          Github repository